.header {
  padding: 39px 120px 17px 120px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box
  /*border-bottom: 1px solid gray;*/
}

.navigation-container {
  display: flex;
}

.navigation-container .navigation-link-container {
  display: flex;
  gap: 44px;
  margin-right: 90px;
}

.navigation-container .navigation-link-container .navigation-link {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  align-items: center;
  color: var(--primaryColor);
}

.navigation-container .primary-btn {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  padding: 10.5px 48px;
}
